<!--Embed the header.html template at this location-->
{{ template "header.html" .}}

  <!--Loop over the payload variable, which is the list of people-->
  {{range .payload }}
    <!--Create the link for the person based on their ID-->
    <a href="/person/view/{{.ID}}">
      <!--Display the name of the person -->
      <h2>{{.Name}}</h2>
    </a>
    <!--Display the title of the person-->
    <p>{{.Title}}</p>
  {{end}}

<!--Embed the footer.html template at this location-->
{{ template "footer.html" .}}